/* remove to margin from body */
body a {
  color: #cc0000;
  text-decoration: none;
}
body a:hover {
  color: #660000;
  text-decoration: underline;
}
body .site {
  margin-top: 0;
  margin-bottom: 0;
}
body #page {
  padding-bottom: 20px;
}
body footer#colophon {
  padding-top: 15px;
  padding-bottom: 15px;
}
#masthead {
  padding: 12px 0;
  position: relative;
}
#masthead hgroup.hide {
  display: none;
}
#masthead img.header-image {
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}
#masthead #openpolis-logo {
  position: absolute;
  top: 25px;
  right: 0;
  /*img { height: 28px; }*/
}
#site-navigation {
  margin-top: 10px;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
}
#site-navigation .social-accounts {
  float: right;
  font-size: 12px;
  margin-top: 5px;
  color: #cc0000;
}
#site-navigation .social-accounts a {
  color: #cc0000;
}
#site-navigation .social-accounts a:hover .fa-inverse {
  color: #cc0000;
}
#site-navigation .social-accounts a:hover .fa-circle {
  display: none;
}
#site-navigation ul {
  width: auto;
  border: 0 !important;
}
#site-navigation .nav-menu,
#site-navigation #main-menu {
  text-align: left;
}
footer#colophon {
  background-color: #cc0000;
  color: #fff;
}
footer#colophon a {
  color: #fff;
}
footer#colophon > div {
  width: 33%;
  float: left;
}
footer#colophon aside h3.widget-title {
  color: #fff;
}
footer#colophon a.fa-stack i.fa-inverse {
  color: #cc0000;
}
footer#colophon a.fa-stack:hover .fa-inverse {
  color: white;
}
footer#colophon a.fa-stack:hover .fa-circle {
  display: none;
}
footer#colophon #sub-footer {
  clear: both;
  width: 100%;
  margin-top: 40px;
}
article {
  /* fix margins around the content */
  /* remove margin from p */
}
article header.entry-header {
  margin-bottom: 12px;
}
article footer.entry-meta {
  margin-top: 12px;
}
article .entry-meta {
  padding: 2px 0;
}
article header.entry-header {
  /* add dotted and padding to elements into header */
  /* display date and categories inline */
  /* display comments and meta in the same line */
}
article header.entry-header h1.entry-title {
  background: url("../images/dotted-hor.png") repeat-x scroll 0 bottom transparent;
  padding-bottom: 10px;
}
article header.entry-header div.entry-meta {
  background: url("../images/dotted-hor.png") repeat-x scroll 0 bottom transparent;
}
article header.entry-header div.entry-meta {
  /* styling like footer.entry-meta */
  font-size: 13px;
  line-height: 1.846153846;
  color: #757575;
  /* override the default clear:both to allow comments to float right */
  clear: none;
  /* display inline date and categories */
}
article header.entry-header div.entry-meta > div {
  display: inline-block;
}
article header.entry-header div.entry-meta > div:first-child {
  margin-right: 20px;
}
article header.entry-header div.comments-link {
  float: right;
  margin: 0;
}
article .entry-content p {
  margin-bottom: 12px;
}
article footer.entry-meta {
  background: url("../images/dotted-hor.png") repeat-x scroll 0 top transparent;
  /* push to right the edit icon */
}
article footer.entry-meta .edit-link {
  float: right;
}
/* remove bottom border of twentytwelve */
.site-content article {
  border: 0;
  padding-bottom: 0;
  margin-bottom: 36px;
}
/* social icons styles */
#secondary .widget {
  padding-bottom: 24px;
  margin-bottom: 24px;
  background: url("../images/dotted-hor.png") repeat-x scroll 0 bottom transparent;
}
#secondary .widget .widget-title {
  margin-bottom: 12px;
  color: #cc0000;
  /* hide icon */
}
#secondary .widget .widget-title a {
  color: #cc0000;
}
#secondary .widget .widget-title .rsswidget:first-child {
  display: none;
}
.thumb {
  display: inline-block;
  float: left;
  width: 75px;
  height: 75px;
  margin: 10px 20px 10px 0;
  /*border: 3px solid #c99;*/
  background-position: center center;
  background-size: cover;
}
.comments-link a:hover,
.entry-meta a:hover,
.widget-area .widget a:hover {
  color: #660000;
}
/* openpolis footer */
ul#op-services {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 0;
  list-style: none outside none;
  text-align: center;
  line-height: 20px;
  text-transform: lowercase;
  /*word-spacing: -0.26em;*/
}
ul#op-services > li {
  display: inline-block;
  padding: 0 10px;
  border-left: 1px solid #d6d8d9;
}
ul#op-services > li:first-child {
  border-left: 0;
}
ul#op-services > li > a {
  color: #d6d8d9;
  text-decoration: none;
}
ul#op-services > li > a:hover {
  color: #ededed;
  text-shadow: 0px 2px 3px #555;
}
ul#op-services > li > a > img {
  vertical-align: middle;
}
@media screen and (max-width: 580px) {
  #masthead #openpolis-logo {
    position: static;
    text-align: center;
    display: block;
  }
  #masthead #openblog-logo {
    display: block;
    text-align: center;
  }
}
