@red: #C00;
@dark-red: #600;


/* remove to margin from body */
body {
  a { color: @red; text-decoration: none; }
  a:hover { color: @dark-red; text-decoration: underline; }
  .site { margin-top: 0; margin-bottom: 0; }

  #page { padding-bottom: 20px;}
  footer#colophon {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

#masthead {
  padding: 12px 0;
  position: relative;
  hgroup.hide { display: none; }
  img.header-image {
    border-radius: 0;
    box-shadow: none;
    margin: 0;
  }

  #openpolis-logo {
    position: absolute;
    top: 25px;
    right: 0;
    /*img { height: 28px; }*/
  }
}
#site-navigation {
  margin-top: 10px;

  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;

  .social-accounts {
    float:right;
    font-size: 12px;
    margin-top: 5px;
    color: @red;
    a { color: @red; }

    a:hover {
      .fa-inverse {color: @red;}
      .fa-circle {display: none;}
    }
  }

  ul {
    width: auto;
    border: 0 !important;
    li {
      margin: 0 30px 0 0;
      a {
        text-transform: none;
      }
    }
  }

  .nav-menu, #main-menu {
    text-align: left;
  }
}

footer#colophon {
  background-color: @red;
  color: #fff;
  a { color: #fff; }
  &> div { width: 33%; float:left; }
  aside h3.widget-title { color: #fff; }

  a.fa-stack {
    i.fa-inverse { color: @red; }

    &:hover {
      .fa-inverse {color: white;}
      .fa-circle {display: none;}
    }
  }

  #sub-footer {
    clear: both;
    width: 100%;
    margin-top: 40px;

  }
}

.dotted-background(@value) when (default()) {
  background: url("../images/dotted-hor.png") repeat-x scroll 0 @value transparent;
}

article {
  /* fix margins around the content */
  header.entry-header { margin-bottom: 12px; }
  footer.entry-meta { margin-top: 12px; }

  .entry-meta { padding: 2px 0; }

  header.entry-header {
    /* add dotted and padding to elements into header */
    h1.entry-title { .dotted-background(bottom); padding-bottom: 10px; }
    div.entry-meta { .dotted-background(bottom); }

    /* display date and categories inline */
    div.entry-meta {
      /* styling like footer.entry-meta */
      font-size: 13px;
      line-height: 1.846153846;
      color: #757575;

      /* override the default clear:both to allow comments to float right */
      clear: none;

      /* display inline date and categories */
      &> div { display: inline-block; }
      &> div:first-child { margin-right: 20px; }
    }

    /* display comments and meta in the same line */
    div.comments-link {
      float:right;
      margin: 0;
    }
  }

  /* remove margin from p */
  .entry-content p { margin-bottom: 12px; }


  footer.entry-meta {

    .dotted-background(top);

    /* push to right the edit icon */
    .edit-link {
      float:right;
    }
  }
}

/* remove bottom border of twentytwelve */
.site-content article {
  border: 0;
  padding-bottom: 0;
  margin-bottom: 36px;
}


/* social icons styles */
//.fa-twitter:hover { color: #00a0d1 !important; }
//.fa-facebook:hover { color: #3b5998 !important; }
//footer { .fa-google-plus:hover { color: #c4302b !important; } }

#secondary {
  .widget {
    padding-bottom: 24px;
    margin-bottom: 24px;
    .dotted-background(bottom);

    .widget-title {
      margin-bottom: 12px; color: @red;
      a { color: @red; }
      .rsswidget:first-child { display: none; } /* hide icon */
    }
  }
}

.thumb {
  display: inline-block;
  float: left;
  width: 75px;
  height: 75px;
  margin: 10px 20px 10px 0;
  /*border: 3px solid #c99;*/
  background-position: center center;
  background-size: cover;
}

.comments-link a:hover, .entry-meta a:hover, .widget-area .widget a:hover { color: @dark-red; }


/* openpolis footer */
ul#op-services {

  font-size: 15px;
  font-family: 'Open Sans', sans-serif;

  padding: 10px 0;
  list-style: none outside none;
  text-align: center;
  line-height: 20px;
  text-transform: lowercase;
  /*word-spacing: -0.26em;*/

  &>li {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #d6d8d9;

    &:first-child {
      border-left: 0;
    }

    &>a {
      color: #d6d8d9;
      text-decoration: none;

      &:hover { color: #ededed; text-shadow: 0px 2px 3px #555; }
      &>img {
        vertical-align: middle;
      }
    }
  }
}

@media screen and (max-width: 580px) {

}

/* hide the default responsive menu and menu button */
h3.menu-toggle {display: none}
.main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul {display: none;}

/* new responsive selectnav css */
.selectnav { display: none; }
select.selectnav {margin:0 auto;} /* centers select */

/* small screen */
@media screen
and (max-width : 580px)  {
  #masthead {
    #openpolis-logo {
      position: static;
      text-align: center;
      display: block;
    }
    #openblog-logo {
      display: block;
      text-align: center;
    }
    #site-navigation {
      .selectnav {margin-top: 5px; margin-bottom: 5px;}
    }
    .social-accounts {
      float: none;
    }
  }
  .js #menu-principale { display: none!important; }
  .js .selectnav { display: block; }

  body {
    footer#colophon {
      padding-left: 20px; padding-right: 20px;
      padding-bottom: 50px;
      &> div { width: auto; float: none; }
      ul#op-services > li {
        border: 0 !important;
        display: block;
      }
      //    ul#op-services > li:first-child { display: block;}
    }
  }
}

#subscribeForm .muSubmit input[type=submit] {
  color: #555;
  &:hover { color: #989898; }
}
